*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-logo{
background-image: url(imgFashion/topo.jpg);
    background-size: cover;
height: 600px;
  margin: 50px;
  background-position: center;

}
.nav-logo{
   background-color: transparent;

}
.nav-logo{
    background-color: rgba(6,19,27,255);
    box-shadow: 3px 2px 10px;
    align-items: center;
    display: flex;

}
.nav-logo li{
    display: inline-block;
padding: 10px;

}



.nav-logo a{
   text-decoration: none;
color: aqua;
    font-family: sans-serif;
    cursor: pointer;
font-size: 16px;


}
.nav-logo ul{
    display: flex;
   justify-content: end;
   list-style-type: none;
 color: aqua;

}

a:hover{
 color: aqua;
filter: brightness(30%);
list-style-type: none;


}
.fashion{
 margin: auto;
padding: 0;
background-color: rgba(6,19,27,255);

}
.myfooter {
   padding: 20px;

   

}

@media(width <= 991px){
    .container-logo{
height: 80vh;

    }
}

@media(width <= 650px){
    .container-logo{
height: 400px;

    }
}
@media(width <= 551px){
    .container-logo{
height:  250px;

    }
    .nav-logo a{
font-size: 10px;
    }
    .nav-logo{
      height: 45px;
    }
    .fs-5{
        font-size: 3px;
    }
}
@media(width <= 455px){
   .nav-logo{
    height: 7vh;
   }
   
}
@media(width <= 375px){
   .container-logo{
height: 30vh;

   }

   
}
